.Board{
  max-width: 1000px;
  min-width: 600px;
  width: 100%;
  height: 80rem;
  display: flex;
  flex-direction: column;
  .top {
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .board_form{
      display: flex;
      width: 45rem;
      height: 4rem;
      border-radius: 2rem;
      border: none;
      box-shadow: 3px 3px 3px #999999;

      .searchbar{
        width: 45rem;
        display: flex;
        border-radius: 2rem;
        border: none;
        background-color: #eeeeee;
        padding-left: 4rem;
        font-size: 1.3rem;
        &::placeholder{
          color: black;
        }

        background-image: url("../../images/MagnifyingGlass.png");
        background-repeat: no-repeat;
        background-size: 1.7rem;
        background-position: 1.4rem;

      }
      .button{
        width: 10rem;
        display: flex;
        border-radius: 2rem;
        border: none;
        background-color: #71BD37;
        color: white;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        font-weight: bold;
        margin-left: -3rem;
      }
    }
  }
  .bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    margin-top: 4rem;

    .left{
      width: 60%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;

      .popularBoard{
        display: flex;
        flex-direction: column;
        width: 50rem;
        height: 20rem;
        background-color: white;
        border-radius: 2rem;
        border: 1px solid #71bd37;
        margin-bottom: 5rem;
        box-shadow: 3px 3px 3px #999999;

        .headline{
          display: flex;
          width: 100%;
          height: 5.5rem;
          align-items: center;
          border-bottom: 3px solid #71bd37;

          background-image: url("../../images/more_button.png");
          background-repeat: no-repeat;
          background-position: 46rem 2.5rem;
          background-size: 1rem;
          .title{
            font-size: 1.5rem;
            font-weight: bold;
            width: 80%;
            margin-left: 2rem;
            margin-top: 1.2rem;
          }
          .more{
            width: 20%;
            border: 0;
            outline: 0;
            background-color: transparent;
            margin-right: 1.5rem;
            margin-top: 1.2rem;
            font-size: 1.1rem;
            text-decoration: underline;
          }
        }
        .popular-itemList{
          width: 100%;
          height: 14.5rem;
          .popular-item{
            display: flex;
            flex-direction: row;
            height:7.25rem;
            border-bottom: 1px #b4df93 solid;

            .popular-left{
              display: flex;
              flex-direction: column;
              justify-content: center;
              width: 70%;
              .pItem-title{
                font-size: 1.4rem;
                font-weight: bold;
                height: 50%;
                display: flex;
                align-items: center;
                margin-top: 1rem;
                margin-left: 2.3rem;
              }
              .pItem-content{
                height: 50%;
                display: flex;
                align-items: center;
                margin-bottom: 1rem;
                margin-left: 2.3rem;
              }
            }
            .popular-right{
              display: flex;
              flex-direction: column;
              justify-content: center;
              width: 30%;
              .pItem-comment{
                height: 50%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-top: 1.2rem;
                margin-right: 2.8rem;
              }
              .pItem-scrap{
                height: 50%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-bottom: 1.2rem;
                margin-right: 2.8rem;
              }
            }
          }
          .item-last{
            border-bottom: none;
          }
        }

      }
      .recentBoard{
        display: flex;
        flex-direction: column;
        width: 50rem;
        height: 20rem;
        background-color: white;
        border-radius: 2rem;
        border: 1px solid #71bd37;
        box-shadow: 3px 3px 3px #999999;

        .headline{
          display: flex;
          width: 100%;
          height: 5.5rem;
          align-items: center;
          border-bottom: 3px solid #71bd37;

          background-image: url("../../images/more_button.png");
          background-repeat: no-repeat;
          background-position: 46rem 2.5rem;
          background-size: 1rem;
          .title{
            font-size: 1.5rem;
            font-weight: bold;
            width: 80%;
            margin-left: 2rem;
            margin-top: 1.2rem;
          }
          .more{
            width: 20%;
            border: 0;
            outline: 0;
            background-color: transparent;
            margin-right: 1.5rem;
            margin-top: 1.2rem;
            font-size: 1.1rem;
            text-decoration: underline;
          }
        }
        .recent-itemList{
          width: 100%;
          height: 14.5rem;
          .recent-item{
            display: flex;
            flex-direction: row;
            height:7.25rem;
            border-bottom: 1px #b4df93 solid;

            .recent-left{
              display: flex;
              flex-direction: column;
              justify-content: center;
              width: 70%;
              .rItem-title{
                font-size: 1.4rem;
                font-weight: bold;
                height: 50%;
                display: flex;
                align-items: center;
                margin-top: 1rem;
                margin-left: 2.3rem;
              }
              .rItem-content{
                height: 50%;
                display: flex;
                align-items: center;
                margin-bottom: 1rem;
                margin-left: 2.3rem;
              }
            }
            .recent-right{
              display: flex;
              flex-direction: column;
              justify-content: center;
              width: 30%;
              .rItem-comment{
                height: 50%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-top: 1.2rem;
                margin-right: 2.8rem;
              }
              .rItem-scrap{
                height: 50%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-bottom: 1.2rem;
                margin-right: 2.8rem;
              }
            }
          }
          .item-last{
            border-bottom: none;
          }
        }


      }

    }
    .right{
      width: 40%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;

      .mypage-box{
        display: flex;
        flex-direction: column;
        width: 30rem;
        height: 20rem;
        border-radius: 2rem;
        background-color: white;
        border: 1px solid black;
        margin-bottom: 5rem;
        box-shadow: 3px 3px 3px #999999;

        .myarticle{
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.4rem;
          font-weight: bold;
          width: 100%;
          height: 33.3%;
          .myarticle_image{
            width: 4.5rem;
            height: 4.5rem;
            background-image: url("../../images/myarticle.png");
            background-size: 4.5rem 4.5rem;
            background-repeat: no-repeat;
            margin-right: 3rem;
          }
          .article_number{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            width: 4.5rem;
            height: 4.5rem;
            background-image: url("../../images/circlenumber.png");
            background-repeat: no-repeat;
            background-size: 2rem 2.5rem;
            background-position: 1.3rem 1rem;
            margin-left: 3rem;
          }
          //&::before{
          //  content: "";
          //  width: 5rem;
          //  height: 5rem;
          //  background-image: url("../../images/myarticle.png");
          //  background-size: 5rem 5rem;
          //  background-repeat: no-repeat;
          //  margin-left: -1rem;
          //}
        }
        .myscrap{
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.4rem;
          font-weight: bold;
          width: 100%;
          height: 33.3%;
          .myscrap_image{
            width: 4.5rem;
            height: 4.5rem;
            background-image: url("../../images/myscrap.png");
            background-size: 4.5rem 4.5rem;
            background-repeat: no-repeat;
            margin-right: 4.3rem;
          }
          .scrap_number{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            width: 4.5rem;
            height: 4.5rem;
            background-image: url("../../images/circlenumber.png");
            background-repeat: no-repeat;
            background-size: 2rem 2.5rem;
            background-position: 1.2rem 1rem;
            margin-left: 4.3rem;
          }
        }
        .mycomment{
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.4rem;
          font-weight: bold;
          width: 100%;
          height: 33.3%;
          .mycomment_image{
            width: 4.5rem;
            height: 4.5rem;
            background-image: url("../../images/mycomment.png");
            background-size: 4.5rem 4.5rem;
            background-repeat: no-repeat;
            margin-right: 3rem;
          }
          .comment_number{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            width: 4.5rem;
            height: 4.5rem;
            background-image: url("../../images/circlenumber.png");
            background-repeat: no-repeat;
            background-size: 2rem 2.5rem;
            background-position: 1.3rem 1rem;
            margin-left: 3rem;
          }
        }
    }
      .category-box{
        display: flex;
        flex-direction: column;
        width: 30rem;
        height: 35rem;
        border-radius: 2rem;
        background-color: white;
        border: 1px solid black;
        box-shadow: 3px 3px 3px #999999;

        .headline{
          display: flex;
          width: 100%;
          height: 15%;
          align-items: center;
          border-bottom: 3px solid #000000;
          .title{
            display: flex;
            justify-content: center;
            font-size: 1.5rem;
            font-weight: bold;
            width: 100%;
            margin-top: 1.2rem;
          }
        }
        .item-list{
          width:100%;
          height:85%;
          display: flex;
          flex-direction: column;
          .item{
            width: 100%;
            height: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url("../../images/yellow-box.png");
            background-repeat: no-repeat;
            background-position: 3rem 1rem;
            border-bottom: 1px solid #000000;
            font-size: 1.3rem;
            font-weight: bold;
          }
          .item-wasteSorting{
            border-bottom: none;
          }
        }

    }

    }

  }
}