.Board{
  max-width: 1000px;
  min-width: 600px;
  width: 100%;
  height: 80rem;
  display: flex;
  flex-direction: column;
  background-color: #DEDD87;
  .top {
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: row;
    background-color: pink;
    align-items: center;
    justify-content: center;

    .board_form{
      display: flex;
      width: 34rem;
      height: 4rem;
      border-radius: 2rem;
      border: none;

      .searchbar{
        width: 40rem;
        display: flex;
        border-radius: 2rem;
        border: none;
        background-color: #eeeeee;
        padding-left: 4rem;

        background-image: url("../../images/MagnifyingGlass.png");
        background-repeat: no-repeat;
        background-size: 1.7rem;
        background-position: 1.4rem;

      }
      .button{
        width: 10rem;
        display: flex;
        border-radius: 2rem;
        border: none;
        background-color: #71BD37;
        color: white;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        font-weight: bold;
        margin-left: -3rem;
      }
    }
  }
  .bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    margin-top: 3rem;
    background-color: bisque;

    .left{
      width: 50%;
      height: 100%;
      background-color: gold;

      .popularBoard{
        height: 30rem;
        background-color: #71bd37;
      }
      .recentBoard{
        height: 30rem;
        background-color: pink;
      }

    }
    .right{
      width: 50%;
      height: 100%;
      background-color: aqua;

    }

  }
}