.myArticle2 {
    width: 91.667%;
    height: 640px;
    min-width: 1000px;
    max-width: 1920px;
    margin-bottom: 10em;
  
    float: left;
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-flow: column wrap;
  
    .badge {
        img {
          margin: 5% 4em 0 4em;
        }
        div{
          border-bottom: 3px solid rgb(131, 202, 76);
        }
    }
    
    .nav {
      font-size: 1.7em;
      font-weight: 2;
      margin: 5em 10px 16px 5em;
      a {
        padding: 1em 5em;
        background-color: rgb(255, 255, 255);
      }
      .navPost{ 
        border-radius: 2em 2em 0 0;
        background-color: #FED66D;
      }
      
    }

    .bookmark {
        border: 2px solid #71BD37;
        border-radius: 20px;
        // padding: 10em 3em;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-flow: row wrap;
        max-width: 900px; max-height: 800px;
        
        a {
        margin: 3em 5em;
        padding: 5em 8em;
        border-radius: 16px;
        background-color: #DEDD87;
        }
    }
  
  }