.Waste{
  max-width: 1000px;
  min-width: 600px;
  width: 100%;
  height: 140rem;
  display: flex;
  flex-direction: column;
  font-size: small;
  font-weight: 2;

  .top{
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: row;

    .title{
      display: flex;
      align-items: center;
      width: 40%;

      background-image: url("../../images/recycleTitleBackgroundImage.png");
      background-size: 27rem;
      background-repeat: no-repeat;
      background-position: center;

      .title-text{
        margin-left: 5rem;
        font-weight: bold;
        font-size: 2.5rem;
      }

    }
    .search{
      display: flex;
      padding: 0;
      justify-content: flex-end;

      width: 60%;

      .form{
        display: flex;
        width: 34rem;
        height: 4rem;
        border-radius: 2rem;
        border: none;

        .searchbar{
          width: 40rem;
          display: flex;
          border-radius: 2rem;
          border: none;
          background-color: #eeeeee;
          padding-left: 4rem;

          background-image: url("../../images/MagnifyingGlass.png");
          background-repeat: no-repeat;
          background-size: 1.7rem;
          background-position: 1.4rem;

        }
        .button{
          width: 10rem;
          display: flex;
          border-radius: 2rem;
          border: none;
          background-color: #71BD37;
          color: white;
          justify-content: center;
          align-items: center;
          font-size: 1rem;
          font-weight: bold;
          margin-left: -3rem;
        }
      }

    }

  }
  .bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    margin-top: 3rem;

    .Line{
      display: flex;
      flex-direction: row;
      height: 15rem;
    }

    .blank-item-short{
      width: 45%;
      height: 100%;
      background-color: white;
      // background-image: url("../../images/recyclePageArrow.png");
      background-repeat: no-repeat;
      background-position: -4rem 3.5rem;
      background-size: 25rem;
    }
    .blank-item-mid{
      width: 50%;
      height: 100%;
      background-color: white;
      // background-image: url("../../images/recyclePageArrow.png");
      background-repeat: no-repeat;
      background-position: -4rem 3.5rem;
      background-size: 25rem;
    }

    .item-short{
      width: 45%;
      height: 100%;
      background-image: url("../../images/recyclePageArrow.png");
      background-repeat: no-repeat;
      background-position: -4rem 3.5rem;
      background-size: 25rem;

      .title{
        display: flex;
        height: 50%;
        align-items: center;
        font-size: 1.4rem;
        font-weight: bold;
        margin-left: 1rem;
      }
      .content{
        height: 6rem;
        width: 27rem;
        background-color: #F6F6F6;
        border-radius: 2rem;
      }

    }

    .item-mid{
      width: 50%;
      height: 100%;
      background-image: url("../../images/recyclePageArrow.png");
      background-repeat: no-repeat;
      background-position: -4rem 3.5rem;
      background-size: 25rem;

      .title{
        display: flex;
        height: 50%;
        align-items: center;
        font-size: 1.4rem;
        font-weight: bold;
        margin-left: 1rem;
      }
      .content{
        height: 6rem;
        width: 32rem;
        background-color: #F6F6F6;
        border-radius: 2rem;
      }

    }


    .item-long{
      width: 55%;
      height: 100%;
      background-image: url("../../images/recyclePageArrow_long.png");
      background-repeat: no-repeat;
      background-position: -7rem 3.5rem;
      background-size: 45rem;
      .title{
        display: flex;
        height: 50%;
        align-items: center;
        font-size: 1.4rem;
        font-weight: bold;
        margin-left: 1rem;
      }
      .content{
        height: 6rem;
        width: 37rem;
        background-color: #F6F6F6;
        border-radius: 2rem;
      }
    }
    .item-blnak{
      width: 55%;
      height: 100%;
      background-image: url("../../images/recyclePageArrow_long.png");
      background-repeat: no-repeat;
      background-position: -7rem 3.5rem;
      background-size: 45rem;
      background-color: white;
      color: white;
      .title{
        display: flex;
        height: 50%;
        align-items: center;
        font-size: 1.4rem;
        font-weight: bold;
        margin-left: 1rem;
      }
      .content{
        height: 6rem;
        width: 37rem;
        background-color: #F6F6F6;
        border-radius: 2rem;
      }
    }

    .arrow-one{
     background-position: -6rem 3.5rem;
    }

    .arrow-two{
      background-position: -10.5rem 3.5rem;
    }

    .arrow-three{
      background-position: -9.5rem 3.5rem;
    }

    .arrow-four{
      background-position: -9.5rem 3.5rem;
    }

    .arrow-five{
      background-position: -10.7rem 3.5rem;
    }

    .arrow-six{
      background-position: -4rem 3.5rem;
    }

    .arrow-seven{
      background-image: url("../../images/recyclePageArrow_long.png");
      background-position: -17.5rem 3.5rem;
      background-size: 45rem;
    }

    .arrow-eight{
      background-position: -24rem 3.5rem;
    }

    .arrow-nine{
      background-position: -14.2rem 3.5rem;
    }

    .arrow-ten{
      background-position: -17rem 3.5rem;
    }

  }
}
