.bestboard {
  width: 100%;
  height: 60rem;
  max-width: 1000px;
  text-align: center;

  .title {
    display: inline-block;
    font-weight: bold;
    font-size: 3rem;
    color: #1D4C23;
    margin-top: 7rem;
    margin-bottom: 3rem;

    &:nth-child(2) {
      color: #71BD37;
      margin-left: 0.6rem;
    }
  }


  .subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    color: #696969;
    margin-bottom: 8rem;
  }

  .item-list{
    display: flex;
    justify-content: center;

    .item {
      width: 400px;
      height: 200px;
      background: white;
      border-radius: 20px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
      -5px -5px 10px rgba(0, 0, 0, 0.1);
      margin: 1rem;

      &:nth-child(2) {
        margin-left: 2.5rem;
      }

    }
  }

  .button {
    width: 40rem;
    height: 4.5rem;
    background: #71bd37;
    border-radius: 40px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    padding-top: 1rem;


    display: inline-block;
    margin-top: 5rem;

  }
}
