.appMain {
  width: 91.667%;
  min-width: 1000px;
  max-width: 1920px;
  min-height: 800px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: row wrap;
  //
  //background-image: url("../../images/ARTICLES.png");
  //background-repeat: no-repeat;
  //background-size: 600px 100px;
  //background-position: 62rem 245rem;

  //
  //.news-title{
  //  width: 100%;
  //  display: flex;
  //  flex-direction: row;
  //  margin-top: 15rem;
  //  margin-left: 17rem;
  //  .title-news{
  //    font-size: 3rem;
  //    font-weight: bold;
  //    color: #1D4C23;
  //    margin-right: 2rem;
  //  }
  //  .title-campaign{
  //    font-size: 3rem;
  //    font-weight: bold;
  //    color: #ACACAC;
  //  }
  //}
}
