.news {
  width: 75%;
  // height: 500px;
  background-color: rgb(242, 247, 238);
  margin: 10% auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  margin-top: 16rem;

    .slick-slider{
      margin: 0 auto;
      hr {
        border: 0px;
        height: 1px;
        background-color: rgb(206, 206, 206);
      }
      img {
        margin: 0 auto;
        width: 45%;
      }
      p {
        padding: 2%;
        margin: 0 ;
        color: gray;
        font-size: 17px;
        font-weight: 430;
        
      }
      a {
        font-size: small;
        text-align: right;
      }
    }
    .slick-dots{
      padding: auto 10%;
    }
    .slick-prev:before {
      opacity: 1; // 기존에 숨어있던 화살표 버튼이 보이게
      color: rgb(70, 128, 84); // 버튼 색
      left: 0;
      font-size: 25px;
    }
    .slick-next:before {
      opacity: 1;
      color: rgb(70, 128, 84);
      font-size: 25px;
    }
  
}
