.search {
  // background-color: #ff0;
  width: 100%;
  max-width: 1000px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row nowrap;
  padding: 0 10em 0;
  position: relative;
  margin-top: 10rem;

  .main-logo {
    width: 32.29vw;
    max-width: 300px;
    margin-right: 3em;
    margin-left: -2em;
    margin-bottom: 6rem;
    img {
      display: block;
      width: 40rem;
    }
    &::after {
      margin-top: 1.5rem;
      content: 'Green을 되찾는 정보를 나눕니다';
      display: block;
      font-size: 0.8em;
      white-space: nowrap;
    }
  }
  .main-visual {
    margin-left: 1em;
    //max-width: 600px;
    width: 46.875%;
    // margin-right: ;
    img {
      margin-left: 1rem;
      display: block;
      width: 130%;
      height: 130%;
    }
  }
  .search-form {
    display: flex;
    width: 38%;
    height: 3em;
    //max-width: 350px;
    font-size: 1em;
    position: absolute;
    bottom: 15%;
    left: 10em;
    margin-bottom: 2em;


    input {
      width: 77%;
      flex-grow: 1;
      border-radius: 2em;
      margin-right: 1em;
      margin-left: -2rem;
      padding-left: 3.5rem;
      border: none;
      background-color: #eeeeee;
      box-shadow: 1px 1px 3px #696969;

      background-image: url("../../images/MagnifyingGlass.png");
      background-repeat: no-repeat;
      background-size: 1.7rem;
      background-position: 1.4rem;
    }
    div.link-box {
      width: 23%;
      height: 2em;
      box-shadow: 1px 1px 3px #696969;
      a {
        margin-top: 1em;
        font-size: 0.8em;
        //line-height: 2em;
      }
    }
  }
}
