<<<<<<< HEAD
.logArticle {
  width: 91.667%;
  height: 640px;
  min-width: 1000px;
  max-width: 1920px;

  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  flex-flow: column nowrap;

  .badge {
    height: 20%;
  }

  .member {
    color: rgb(56, 92, 63);
    font-size: 1.7em;
    font-style: normal;
    text-align: center; 
    
    button {
      font-size: 1em;
      margin: 2em;
      padding: 1em 9em;
      border-radius:5em;
      background-color: rgb(131, 202, 76);
      color: white;
      border: none;
      outline: none;
    }
    input {
      // border:none;
      // border-bottom!!수정하겟습니다!
      //입력창 제가 보려고 해놓은 거예요!!ㅎㅎ
      //넵!! 넵!! 제 브랜치에 푸시해놨어요!
      //감사합니다 팀장님👍
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.01em solid #7ece92;
    //outline: none;
    }
    input:focus {outline:none;}
    form {
        // height: 20%;
        div {
            margin: 1em 0;
            // background-image: url( "blankRec.png" );
        }
        .text-box  {
          border: 1px solid  #7ece92  !important; 
          border-radius:5em;
          padding: 1em 2em;
        }
    }
    label{
        margin-right: 1.7em;
        font-size: 1.6rem;
        font-weight: normal;
    }
      
  }

}
=======
.login {
  width: 91.667%;
  min-width: 1000px;
  max-width: 1920px;
  height: 800px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;

  .login-logo {
    margin-bottom: 3vh;
    img {
      max-width: 200px;
      min-width: 180px;
      max-height: 80px;
      width: 10.417vw;
      display: block;
    }
  }

  .login-form {
    fieldset {
      border: none;
    }
    .user-email {
      width: 20.469vw;
      min-width: 300px;
      height: 60px;
      border: 1px solid #71bd37;
      border-radius: 30px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      font-size: 1.5em;
      font-weight: 800;

      label {
        margin-left: 1.5vw;
        white-space: nowrap;
        width: 50px;
      }
      &::before {
        content: '';

        display: block;

        order: 1;
        margin: 0 2em;
        width: 0px;
        height: 0px;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-right: 14px solid none;
        border-left: 14px solid #71bd37;
      }
      input {
        order: 2;
        border: none;
        background: none;
      }
    }
    .user-password {
      width: 20.469vw;
      min-width: 300px;
      height: 60px;
      border: 1px solid #71bd37;
      border-radius: 30px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      font-size: 1.5em;
      font-weight: 800;
      margin-top: 1vh;
      margin-bottom: 4vh;
      label {
        margin-left: 1.5vw;
        white-space: nowrap;
        width: 50px;
      }
      &::before {
        content: '';

        display: block;

        order: 1;
        margin: 0 2em;
        width: 0px;
        height: 0px;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-right: 14px solid none;
        border-left: 14px solid #71bd37;
      }
      input {
        order: 2;
        border: none;
        background: none;
      }
    }
    button {
      width: 20.469vw;
      min-width: 300px;
      text-align: center;
      border: none;
    }
  }
  .member-option {
    list-style: none;
    display: flex;
    justify-content: center;
    li:nth-child(1) {
      margin-left: -2vw;
    }
    .divider {
      display: inline-block;
      margin: 0 1vw;
    }
  }
}
>>>>>>> 209465366ae3c9ea2b6606581daa71085ba1b8e8
